<h3>Relatório de Faturamento</h3>
    <hr>
    <table class="table table-striped table-hover" style="width: 100%">
        <thead>
        <tr>
            <th>Período</th>
            <th>Valor</th>
        </tr>
        </thead>
        <tbody>
        {% for faturado in faturamento %}
            <tr>
                <td>{{ faturado.data_cadastro | date("m/Y") }}</td>
                <td>R${{ faturado.faturamento|number_format(2, ",", ".") }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2" class="table-warning">Não Existem Faturamento para este período</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>